#movietitle {
  width: 35%;
  font-weight: bold;
 font-size:25px;
}

#movieplot {

}

#moviescoreIMDB {

}

#moviescoreRT {

}

#moviescoreMC {

}

#harrisonscore {
  font-size: 20px;
}

#search {
  width: 20%;
}

#submit {
  width: 5%;
  background-color: green;
  color: white;

}
